{% extends "alarmdevice/base.html" %}

{% load static %}

{% block content %}
<!--<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Поиск по имени или адресу устройства">-->
<form>
  <div class="form-group">
    <label for="myInput">Полнотекстовый поиск</label>
    <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Поиск по имени или адресу устройства">
  </div>
</form>
<table class="table table-bordered" id="myTable">
  <thead class="thead-inverse">
    <tr>
      <th>id</th>
      <th>Имя</th>
      <th>Тип устройства</th>
      <th>Адрес</th>
      <th>Широта</th>
      <th>Долгота</th>
      <th>Радиус звукопокрытия</th>
    </tr>
  </thead>
  <tbody>
    {% for device in devices %}
    <tr>
      <td>{{ device.id }}</td>
      <td>{{ device.name }}</td>
      <td>{{ device.device_type }}</td>
      <td>{{ device.address }}</td>
      <td>{{ device.latitude }}</td>
      <td>{{ device.longtitude }}</td>
      <td>{{ device.cover_radius }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script type="text/javascript" src={% static "js/main.js" %}></script>
{% include "alarmdevice/pagination.html" with page=devices %}

{% endblock %}